.table-view .column-header {
    -fx-background-color: #80B3D8;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #616161;
}


.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
}
