.table-view .column-header {
    -fx-background-color: #80B3D8;
}

/*.table-view {*/
/*    -fx-background-color: transparent;*/
/*}*/

/*.table-view .column-header-background{*/
/*    -fx-background-color: #80B3D8;*/
/*}*/

.table-view .column-header-background .label{
    /*-fx-background-color: transparent;*/
    -fx-text-fill: white;
}

/*.table-row-cell{*/
/*    -fx-background-color: -fx-table-cell-border-color, #0067B1;*/
/*}*/

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .corner {
    -fx-background-color: #0067B1;
}

.scroll-bar .track {
    -fx-background-color: #0067B1;
    -fx-pref-width: 4;
}

.scroll-bar .thumb {
    -fx-background-color: #80B3D8;
    -fx-background-radius: 2.0em;
}

.increment-button, .decrement-button {
    -fx-background-color: #80B3D8;
    -fx-border-color: #80B3D8;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view .table-row-cell {
    -fx-background-color: #0067B1;
    -fx-border-color: #012D5A;
}

.table-view .table-row-cell .label {
    -fx-text-fill: white;
}
